<head>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

</head>

<section id="intro" class="container text-center mb-5">

<h2>
Let's change <span> the world   </span>  together
</h2>

<h3>

Money transfer to far away is getting easier , cheaper and more secure with BENTUR

</h3>

</section>

<section id="features" class="mt-5">

<div class="anasayfa_hakkimizda row col-10 mx-auto mt-5 mb-5">

        <div class="box row mb-4 mx-auto">
        <img id="imgmoney"  class="col-12 col-md-7 col-xl-6" src="https://images.unsplash.com/photo-1579227114347-15d08fc37cae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="https://image.flaticon.com/icons/png/512/631/631200.png">
        <div class="col-12 col-md-5 col-xl-6 pt-5">
            <h1>Money</h1>
            <h1>Transport</h1>
            <h1>Platform</h1>
            <p class="col-11 pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate consectetur aliquid, quaerat recusandae eum illo quis perferendis veniam atque, accusantium totam. Assumenda, voluptate tenetur. </p>
        </div>
        </div>
<div class="col-12 col-sm-12 col-md-4  my-3">

 <div class="hakkimizda_item_guven mx-3 py-5 " data-aos="fade-up-right" data-aos-easing="linear"
            data-aos-duration="150000">
           <fa-icon [icon]="icons.secure"></fa-icon>

            <span>Secure</span>
             <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptate in earum quisquam magni, distinctio unde tenetur, doloribus vero ratione provident quidem alias ipsa quibusdam.</p>

        </div>

</div>

<div class="col-12 col-sm-6 col-md-4  my-3">

        <div class="hakkimizda_item_plan py-5 mx-3" data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="150000">
             <fa-icon [icon]="icons.fast"></fa-icon>

            <span>Fast & Easy</span>
            <p class="mx-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga voluptatum fugit eos minima sed dolorum aspernatur, omnis optio vel architecto quisquam esse ipsa corrupti nihil?
            </p>
        </div>


</div>


<div class="col-12 col-sm-6 col-md-4  my-3">

 <div class="hakkimizda_item_tasarim py-5 mx-3" data-aos="fade-up-left" data-aos-easing="linear"
            data-aos-duration="150000">
          <fa-icon [icon]="icons.comission"></fa-icon>

            <span>Small Comission</span>
            <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptate in earum quisquam magni, distinctio unde tenetur, doloribus vero ratione provident quidem alias ipsa quibusdam.</p>
        </div>


</div>



          <div class="box row mb-4 mx-auto">
        <div class="col-12 col-md-5 col-xl-6 pt-5">
            <h1>Money</h1>
            <h1>Taken</h1>
            <h1>by Him</h1>
            <p class="col-11 pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate consectetur aliquid, quaerat recusandae eum illo quis perferendis veniam atque, accusantium totam. Assumenda, voluptate tenetur. </p>
        </div>
        <img id="imgmoney2"  class="col-12 col-md-7 col-xl-6" src="https://images.freeimages.com/images/large-previews/f05/holding-money-1315939.jpg" alt="">
        </div>

    </div>

</section>



<app-calculator></app-calculator>


<app-faq></app-faq>
